     # Node
     node_modules/
     npm-debug.log
     yarn-error.log

     # Build
     build/
     dist/

     # IDE
     .idea/
     *.iml
     .vscode/

     # Environment
     .env
     .env.local
     .env.development.local
     .env.test.local
     .env.production.local